.page-enter-active
  transition: all .3s ease

.page-leave-active
  position absolute
  transition all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0)

.page-enter, .page-leave-active
  transform translateX(10px)
  opacity 0


.fade-enter-active, .fade-leave-active
  transition opacity 0.3s

.fade-enter, .fade-leave-to
  opacity 0